.assignment-page {
  padding: 20px;
}

.top-button {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
}
.cancel-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 120px;
}

.cancel-button:hover {
  background-color: darkred;
}

