.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

.navbar {
  height: 60px;
  background-color: #4caf65;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.nav-buttons button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: white;
  color: #4CAF50;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.nav-btn.active {
  background-color: #2e7d32;
  color: white;
}

.content-split {
  display: flex;
  flex-grow: 1;
}

.left-side {
  flex: 1;
  background-image: url('');
  background-size: cover;     /* fills side, cuts edges if aspect ratio doesn't match */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;          /* ensures full vertical stretch */
  min-width: 0;
}


.right-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6b79ad;
}

.form-wrapper {
  width: 80%;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
.brand {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(64, 14, 15);
}
.error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 10px;
}


